
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ralewa", sans-serif !important;
  scroll-behavior: smooth;
}

header {
  background-color: #174e64;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  color: white;
}
header ul {
  padding: 0 4rem;
}

header .logo {
  margin-left: 4rem;
  margin-right: 4rem;
}
