* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif !important;
  scroll-behavior: smooth;
}

html,
body,
button {
  font-family: "Raleway", sans-serif !important;
}

*::-webkit-scrollbar {
  width: 6px !important; /* width of the entire scrollbar */
  height: 6px !important; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: #174e64; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: #71f79f; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #174e64; /* creates padding around scroll thumb */
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #cccc;
  border-radius: 15px;
  /* box-shadow: inset 5px -5px 5px #10131e; */
}
a {
  color: inherit;
  text-decoration: none;
}

header {
  background-color: #174e64;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  color: #71F79F;
}
header > * {
	  flex: 1;
}
header ul {
  padding: 0 4rem;
  font-size: 0.6rem;
}

header .logo-wrapper {
  margin-left: 4rem;
  margin-right: 4rem;
}

header .logo-wrapper img{
	  width: 10%;
  height: 10%;
}
