@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  background-color: #174E64;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  color:white
}
 header ul {
	padding: 0 4rem;
 }

 header .logo{
  margin-left: 4rem;
  margin-right: 4rem;
 } 

 * {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif !important;
	scroll-behavior: smooth;
  }
  
  html,
  body,
  button {
	font-family: 'Raleway', sans-serif !important;
  }
  
  *::-webkit-scrollbar {
	width: 6px !important; /* width of the entire scrollbar */
	height: 6px !important; /* width of the entire scrollbar */
  }
  body::-webkit-scrollbar-track {
	background: #174e64; /* color of the tracking area */
  }
  body::-webkit-scrollbar-thumb {
	background-color: #71f79f; /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
	border: 3px solid #174e64; /* creates padding around scroll thumb */
  }
  
  /* width */
  ::-webkit-scrollbar {
	width: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
	border-radius: 5px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #cccc;
	border-radius: 15px;
	/* box-shadow: inset 5px -5px 5px #10131e; */
  }
  
  a {
	color: inherit;
	text-decoration: none;
  }
  
  .swiper {
	width: 100%;
	/* height: 200px; */
	margin-left: 4rem;
  }
  
  .swiper-button-next {
	color: #fff !important;
	width: 50px !important;
	height: 50px !important;
	border-radius: 50% !important;
	background: #71f79f;
	/* margin-right: 20rem !important; */
  }
  
  .swiper-button-next::before {
	content: '→';
	font-size: 1.5rem;
	margin-bottom: 0.4rem;
  }
  
  .swiper-button-next::after {
	display: none;
  }
  
  .swiper-button-prev {
	color: #fff !important;
	width: 50px !important;
	height: 50px !important;
	border-radius: 50% !important;
	background: #71f79f;
  }
  
  .swiper-button-prev::before {
	content: '→';
	font-size: 1.5rem;
	transform: rotate(180deg);
	margin-top: 0.4rem;
	font-weight: 800;
  }
  
  .swiper-button-prev::after {
	display: none;
  }
  
  @media (max-width: 900px) {
	/* .swiper {
	  height: 200px;
	} */
  
	.swiper-button-next {
	  width: 35px !important;
	  height: 35px !important;
	}
  
	.swiper-button-next::before {
	  content: '→';
	  font-size: 1rem;
	  margin-bottom: 0rem;
	}
  
	.swiper-button-prev {
	  width: 35px !important;
	  height: 35px !important;
	}
  
	.swiper-button-prev::before {
	  content: '→';
	  font-size: 1rem;
	  transform: rotate(180deg);
	  margin-top: 0rem;
	}
  }
  
  .previousEventGradient {
	background: rgb(9, 9, 121);
	background: linear-gradient(
	  180deg,
	  rgba(9, 9, 121, 0.24693627450980393) 65%,
	  rgba(23, 78, 100, 1) 100%
	);
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .onboardingCoverImg {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
	  url('/onboarding-image/onboard-img-1.jpg');
	background-position: center;
	background-size: cover;
  }
  .blogBanner {
	background-image: linear-gradient(
		180deg,
		rgba(23, 78, 100, 0.4766281512605042) 65%,
		rgba(23, 78, 100, 0.4458158263305322) 100%
	  ),
	  url('/blog/banner.jpg');
	background-position: center;
	background-size: cover;
  }
  
  /* Spinner Styles */
  
  .lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
  }
  .lds-ellipsis div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #71f79f;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
	0% {
	  transform: scale(0);
	}
	100% {
	  transform: scale(1);
	}
  }
  @keyframes lds-ellipsis3 {
	0% {
	  transform: scale(1);
	}
	100% {
	  transform: scale(0);
	}
  }
  @keyframes lds-ellipsis2 {
	0% {
	  transform: translate(0, 0);
	}
	100% {
	  transform: translate(24px, 0);
	}
  }
  
  /* Share Button Styles */
  .share-button {
	border: none;
	cursor: pointer;
	border-radius: 8px;
	margin: 1rem;
	padding: 0.5rem 1rem;
	position: relative;
	/* overflow: hidden; */
	width: 140px;
	height: 50px;
	transition: 0.2s;
	background: #174e64;
	color: #71f79f;
	font-weight: bold;
  }
  
  @media (max-width: 900px) {
	.share-button {
	  width: 120px;
	  height: 40px;
	}
  }
  
  .share-button:hover {
	box-shadow: 0px 4.82797px 6.0699px rgba(0, 0, 0, 0.1);
  }
  
  .share-text {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	transition: 0.3s;
	gap: 10px;
	justify-content: center;
	color: inherit;
	font-size: 0.8rem;
  }
  
  .button-links {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -3rem;
	/* transform: rotate(90deg); */
	opacity: 1;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	overflow: hidden;
	color: #174e64;
	transition: 0.3s;
	width: 100%;
	height: 60px;
  }
  
  .button-links .icon {
	font-size: 1.5rem;
	transition: 0.3s;
	translate: 0 50px;
  }
  
  .show-links {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -3rem;
	/* transform: rotate(90deg); */
	opacity: 1;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	overflow: hidden;
	color: #174e64;
	transition: 0.3s;
	width: 100%;
	height: 60px;
  }
  
  .show-links .icon {
	translate: 0 5px;
	font-size: 1.5rem;
	transition: 0.3s;
  }
  .icon:hover {
	transform: scale(1.2);
  }
  
  .show-links .icon:nth-child(1) {
	transition-delay: 0.1s;
  }
  .show-links .icon:nth-child(2) {
	transition-delay: 0.3s;
  }
  .show-links .icon:nth-child(3) {
	transition-delay: 0.5s;
  }
  .show-links .icon:nth-child(4) {
	transition-delay: 0.7s;
  }
  
  .show-links .button-links {
	translate: 0 -100%;
  }
  
  .ea-heading-2,
  .ea-heading-1 {
	color: #0f3443;
	font-size: 1.6rem;
	margin-bottom: 0.6rem;
  }
  .ea-heading-1 {
	font-size: 2.2rem;
  }
  .ea-center {
	text-align: center;
  }
  
  .ea-center > div {
	display: inline-block;
	margin-bottom: 1rem;
  }
  
  .ea-input {
	appearance: none;
	border: none;
	padding-top: 9px;
	padding-right: 9px;
	padding-left: 40px;
	padding-bottom: 10px;
  }
  .ea-input-icon {
	position: absolute;
	top: 0%;
	transform: translateY(25%);
	left: 10px;
  }
  
  .ea-form-control {
	position: relative;
  }
  
  .MuiPaper-elevation {
	box-shadow: none !important;
  }
  
  .ea-line {
	border-bottom: 1px solid #bdc7c1;
  }
  .mobileCloseIcon {
	display: none;
  }
  
  .mobileRecentChat {
	overflowy: hidden;
	height: 90%;
  }
  
  .mobileOpenSlider {
	position: relative;
	width: 90%;
	overflowY: hidden;
	background: #ECFEF2;
	borderRadius: 8px;
	height: 100%;
	/* {
	  xs: `50vh`,
	  sm: `50vh`,
	  md: `80vh`,
	  lg: `80vh`,
	  xl: `100%`,
	}, */
  }
  
  @media (max-width: 900px) {
	.mobileOpenSlider {
	  position: fixed;
	  width: 90%;
	  /* background: red; */
	  height: 77%;
	  margin-top: 4rem;
	  top: 0;
	  transition: all 0.5s ease-in;
	  transform: translateX(0%);
	}
	.mobileCloseSlider {
	  position: fixed;
	  width: 90%;
	  height: 77%;
	  margin-top: 4rem;
	  top: 0;
	  left: 0;
	  right: 0;
	  transform: translateX(150%);
	  bottom: 6rem;
	  transition: all 0.5s ease-in;
	}
  
	.mobileRecentChat {
	  width: 82%;
	  borderradius: 8px;
	  position: fixed;
	  overflowy: hidden;
	  height: 77%;
	}
  
	.mobileCloseIcon {
	  display: block;
	  color: #174e64;
	  cursor: pointer;
	  font-size: 1.2rem;
	}
  }
  
  @media (max-width: 600px) {
	.mobileRecentChat {
	  width: 85%;
	  borderradius: 8px;
	  position: fixed;
	}
  }
  
  
  .linearGradient {
	background: rgb(23,78,100);
	background: linear-gradient(114deg, rgba(23,78,100,1) 0%, rgba(3,91,124,1) 20%, rgba(12,82,63,1) 63%, rgba(45,158,84,1) 100%);
  }