@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  background-color: #174E64;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}
 header ul {
	padding: 0 4rem;
 }

 header .logo{
	
 } 